<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhetherU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78DE89E51E0117F300C51979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DE89FC1E0117F400C51979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DE8A071E0117F400C51979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
